# Pyforest - lazy-import of all Python Data Science libraries

pyforest lazy-imports all popular Python Data Science libraries so that they are always ther when you need them. If you dont use a library, it wont be imported. When you are done with your script, you can export the Python code for the import statements.

In [6]:
website = 'https://en.wikipedia.org/wiki/2022_Winter_Olympics_medal_table'
df = pd.read_html(website, match = 'Rank')

In [16]:
medals_df = pd.DataFrame(df[0])
medals_df[medals_df.columns[1]]

0                  Norway
1                 Germany
2           United States
3                  China*
4                  Sweden
5             Netherlands
6                 Austria
7             Switzerland
8                     ROC
9                  France
10                 Canada
11                  Japan
12                  Italy
13            South Korea
14               Slovenia
15                Finland
16            New Zealand
17              Australia
18          Great Britain
19                Hungary
20                Belgium
21         Czech Republic
22               Slovakia
23                Belarus
24                  Spain
25                Ukraine
26                Estonia
27                 Latvia
28                 Poland
29    Totals (29 entries)
Name: .mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}NOC, dtype: object

In [11]:
medals_df.head()

,Rank,.mw-parser-output .tooltip-dotted{border-bottom:1px dotted;cursor:help}NOC,Gold,Silver,Bronze,Total
0,1,Norway,16,8,13,37
1,2,Germany,12,10,5,27
2,3,United States,9,9,7,25
3,4,China*,9,4,2,15
4,5,Sweden,8,5,5,18