# Python Tutorial 3

### Sets, Dictionaries, List, Tuples

### Sets

In [2]:
### Set Defintions

set1 = {1,2,3,4,5}

In [3]:
print(set1)

{1, 2, 3, 4, 5}

In [4]:
set2 = {1,1,2,3,4,5}
print(set2)

{1, 2, 3, 4, 5}

In [5]:
### Some set methods
set2.add(6)
print(set2)

{1, 2, 3, 4, 5, 6}

In [6]:
set2.clear()
print(set2)

set()

In [27]:
set3 = {"Oliver", "John", "Han"}
set4 = {"Oliver", "John", "Han", "chance"}

In [28]:
set4.difference(set3)
set4.difference_update(set3)

In [29]:
print(set4)

{'chance'}

In [30]:
set5 = set3.copy()
set5.add("carlo")
print(set5)

{'carlo', 'Han', 'Oliver', 'John'}

In [31]:
set3.intersection(set5)

{'Han', 'John', 'Oliver'}

In [32]:
set5.intersection_update(set3)

In [33]:
print(set5)

{'Han', 'Oliver', 'John'}

In [34]:
### there is more methods

### Dictionary

In [36]:
my_dict = {"car1": 10000, "car2": 20000, "car3": 80000}
print(my_dict['car1'])

10000

In [38]:
## Printing elements in a dictionary
for val in my_dict.values():
    print(val)

10000
20000
80000

In [39]:
### Printing key values
for key in my_dict:
    print(key)

car1
car2
car3

In [42]:
### For printing the key value pair
for element in my_dict.items():
    print(element)

('car1', 10000)
('car2', 20000)
('car3', 80000)

In [43]:
my_dict2 = my_dict.copy()
print(my_dict2)

{'car1': 10000, 'car2': 20000, 'car3': 80000}

In [51]:
car_list = ['car1','car3']
my_dict3 = my_dict2.fromkeys(car_list, 0) # makes a copy of certain keys and add new values

In [52]:
for i in my_dict3.items():
    print(i)

('car1', 0)
('car3', 0)

In [53]:
my_dict3.pop('car1')
print(my_dict3)

{'car3': 0}

In [54]:
my_dict3.update({"car1": 20000, "car2": 40000})
print(my_dict3)
my_dict3.popitem() # pops the last added item

{'car3': 0, 'car1': 20000, 'car2': 40000}

('car2', 40000)

### Lists

List are mutable object that can store any datatype.

In [63]:
# initializing
my_list = []
my_list1 = list()

In [64]:
my_list.append("cars")
print(my_list)

['cars']

In [65]:
list_size = my_list.count('cars') # counts the times a certain value is in the list
print(list_size)

1

In [66]:
my_list.extend(['car', 'bus', 'motorcycle', 12, 24])
print(my_list)

['cars', 'car', 'bus', 'motorcycle', 12, 24]

In [67]:
## .append adds one value at the time 
## .extend allows for interation over a given list of values and adds each value in

In [70]:
my_list.index('motorcycle') # returns the index of a given element

3

In [72]:
## Indexing list is quite easy
my_list[2:] # return all values starting from the index 2

['bus', 'motorcycle', 12, 24]

In [78]:
my_list[2:-1] # return all values up till the and not including the last one

['bus', 'motorcycle', 12]

In [79]:
my_list[::-1] # easiest way to reverse a list

[24, 12, 'motorcycle', 'bus', 'car', 'cars']

In [85]:
my_list[4::-1] # one way to slice a list

[12, 'motorcycle', 'bus', 'car', 'cars']

In [86]:
## more fucntion but use with different use cases

### Tuples

Tuples are a collection of element that are not mutable

In [87]:
## use the tuple() function to intialize or ()

my_tuple = tuple()

In [88]:
type(my_tuple)

tuple

In [89]:
my_tuple1 = ()
type(my_tuple1)

tuple

In [101]:
my_tuple1 = (1,2,3,4,3, 3)

In [102]:
print(my_tuple1)

(1, 2, 3, 4, 3, 3)

In [108]:
my_tuple_names = ("Ron1", "Jon", "Houie", "Ron")
print(my_tuple_names)

('Ron1', 'Jon', 'Houie', 'Ron')

In [109]:
my_tuple_names[0]

'Ron1'

In [110]:
## Inbuilt function
my_tuple_names.count("Ron")

1

In [111]:
my_tuple1.count(3)

3

In [112]:
my_tuple_names.index("Ron") # returns the index of the first appearance of a given value.

3